[Unit]
Description=Timer para reiniciar o wallpaper engine a cada hora

[Timer]
OnBootSec=1h
OnUnitActiveSec=1h
Unit=wallpaper-restart.service

[Install]
WantedBy=timers.target